<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>{$page_title} - 后台管理系统模板</title>
<link rel="icon" href="favicon.ico" type="image/ico">


<meta name="author" content="peng">
<link href="__ADMINCSS__/bootstrap.min.css" rel="stylesheet">
<link href="__ADMINCSS__/materialdesignicons.min.css" rel="stylesheet">
<link href="__ADMINCSS__/style.css" rel="stylesheet">
<style>
.wrapper {
    position: relative;
}

</style>
</head>
  
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="row wrapper">
  <div class="login">
    <div class="login-center">
      
      <form action="/Admin/login/loginsubmit" method="post">
        <div class="form-group has-feedback feedback-left">
          <input type="text" placeholder="请输入您的用户名" class="form-control" name="username" id="username" />
          <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback feedback-left">
          <input type="password" placeholder="请输入密码" class="form-control" id="password" name="password" />
          <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback feedback-left row">
          <div class="col-xs-7">
            <input type="text" name="captcha" class="form-control" placeholder="验证码">
            <span class="mdi mdi-check-all form-control-feedback" aria-hidden="true"></span>
          </div>
          <div class="col-xs-5">
            <img class="pull-right" id="captcha" style="cursor: pointer;" onclick="this.src='/Admin/login/getcode'" src="/Admin/login/getcode" title="点击刷新" alt="captcha">
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-primary" type="submit">立即登录</button>
        </div>
      </form>
      <hr>
      <footer class="col-sm-12 text-center">
        <p class="m-b-0">Copyright © 2021 <a href="#">大鹏</a>. All right reserved</p>
      </footer>
    </div>
  </div>
</div>
<script type="text/javascript" src="__ADMINJS__/jquery.min.js"></script>
<script type="text/javascript" src="__ADMINJS__/bootstrap.min.js"></script>
</body>
</html>